/********鐧诲綍寮规鏍峰紡*********/

.loginBox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2110;
}

.body-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2110;
    background: rgba(0, 0, 0, .3);
}

.loginView {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 50px 0px 10px 0px;
    width: 550px;
    height: 420px;
    z-index: 2111;
    background-color: #fff;
    /*background: url("../images/login.png") no-repeat center center;*/
    /*border: 2px solid #ccc;*/
    color: #a3a3a3;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.loginView .mobile-login .reg-login-text {
    display: none;
}

.gt_holder.gt_popup .gt_mask {
    z-index: 2113;
}

.loginView .mobile-login a,
.loginView .onekey-login a {
    color: #A3A3A3;
}

.model_view .close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    background: url("../image_1/login/close.png") no-repeat center center;
    cursor: pointer;
    border-left: 2px solid #EEEEEE;
}

.model_view .close-btn:hover {
    background: url("../image_1/login/close-hover.png") no-repeat center center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.loginView .mobile-login {
    width: 399px;
    border-right: 1px solid #EEEEEE;
    margin-top: 30px;
}

.loginView .mobile-login .m-li {
    width: 320px;
    margin: 20px 30px 20px 49px;
    overflow: hidden;
}

.loginView .mobile-login h1 {
    text-align: center;
    font-size: 24px;
    font-weight: normal;
    color: #a3a3a3;
}

.loginView .mobile-login .m-tel {
    position: relative;
    padding: 8px 0;
    border: 1px solid #EEEEEE;
}

.loginView .mobile-login .m-tel input {
    margin: 0;
    padding: 0;
    margin-left: 40px;
    height: 34px;
    width: 250px;
    border: none;
    border-left: 1px solid #EEEEEE;
    text-indent: 5px;
    outline: 0;
    color:#333;
    font-size: 14px;
    font-family: 'Microsoft YaHei', 'simsun';
}

.loginView .mobile-login .m-tel:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    background: url('../image_1/login/mobile-icon.png') no-repeat center center;
}

.loginView .mobile-login .ck-status {
    position: absolute;
    top: 0;
    right: 8px;
    bottom: 0;
    padding-right: 20px;
}

.loginView .mobile-login .ck-success {
    background: url('../image_1/login/success.png') no-repeat center center;
}

.loginView .mobile-login .ck-error {
    background: url('../image_1/login/error.png') no-repeat center center;
}

.loginView .mobile-login .input-code {
    position: relative;
    padding: 8px 0;
    border: 1px solid #EEEEEE;
}

.loginView .mobile-login .blue-box {
    border: 1px solid #2E9FFF;
}

.loginView .mobile-login .error-box {
    border: 1px solid #FE0000;
}

.loginView .mobile-login .input-code input {
    margin-left: 40px;
    padding: 0;
    width: 150px;
    border: none;
    border-left: 1px solid #EEEEEE;
    text-indent: 5px;
    height: 34px;
    outline: 0;
}

.loginView .mobile-login .input-code:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    background: url(http://tu.qiumibao.com/ico/validate-code.png) no-repeat center center;
}

.loginView .mobile-login .get-code {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #F5F5F5;
    border: 1px solid #EEEEEE;
}

.loginView .mobile-login .get-code a {
    display: block;
}

.loginView .mobile-login .get-code a.hadSend {
    background: #ff9657;
    color: #fff;
}

.loginView .mobile-login .get-code a.count-down {
    background: #bebebe;
    color: #fff;
}

.loginView .mobile-login .validate-code .tip-info {
    color: #fe0000;
    padding-top: 5px;
}

.loginView .mobile-login .m-login-btn {
    height: 48px;
    line-height: 48px;
    background: #2E9FFF;
    text-align: center;
}

.loginView .mobile-login .m-login-btn a {
    display: block;
    color: #fff;
    font-size: 14px;
}

.loginView .mobile-login .mobile-tip {}

.loginView .mobile-login .reg,
.loginView .mobile-login .reg-login-text {
    text-align: center;
}

.loginView .mobile-login .reg a,
.loginView .mobile-login .reg-login-text a {
    color: #2E9FFF;
}

.loginView .mobile-login .reg a:hover,
,
.loginView .mobile-login .reg-login-text a:hover {
    text-decoration: underline;
}

.loginView .onekey-login {
    width: 150px;
    margin-top: -4px;
}

.loginView .onekey-login ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.loginView .onekey-login ul li {
    text-align: center;
    padding: 2px 0;
}

.loginView .onekey-login ul li .li {
    display: inline-block;
    width: 60px;
    height: 60px;
    text-indent: -9999px;
}

.loginView .onekey-login ul li .li-qq {
    background: url('../image_1/login/qq.png') no-repeat center center;
}

.loginView .onekey-login ul li .li-wechat {
    background: url('../image_1/login/wechat.png') no-repeat center center;
}

.loginView .onekey-login ul li .li-weibo {
    background: url('../image_1/login/sina.png') no-repeat center center;
}

.loginView .onekey-login ul .sao-index {
    position: relative;
    margin-bottom: 4px;
}

.loginView .onekey-login ul li .li-sao {
    background: url('../image_1/login/20180224142818_9886.png') no-repeat center center;
}

.loginView .onekey-login ul a:hover .li-qq {
    background: url('../image_1/login/qq-hover.png') no-repeat center center;
}

.loginView .onekey-login ul a:hover .li-wechat {
    background: url('../image_1/login/wechat-hover.png') no-repeat center center;
}

.loginView .onekey-login ul a:hover .li-weibo {
    background: url('../image_1/login/sina-hover.png') no-repeat center center;
}

.loginView .login-in {
    float: left;
    width: 33.33%;
    margin-top: 110px;
    margin-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.loginView .login-in a {
    display: block;
    margin: 0 30px;
    padding-top: 74px;
}

.loginView .login-qq a {
    background: url("../image_1/login/qq%20(1).png") no-repeat center top;
}

.loginView .login-wechat a {
    background: url("../image_1/login/wechat%20(1).png") no-repeat center top;
}

.loginView .login-weibo a {
    background: url("../image_1/login/login_weibo.png") no-repeat center top;
}

/*鎵爜鐧诲綍绐楀彛*/

.sao-code {
    position: absolute;
    top: 90px;
    left: 30px;
    z-index: 11;
    color: #333;
    -webkit-transform: translateX(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%);
}

/*.loginView .onekey-login .sao-index:hover .sao-code{display:block;}*/

.sao-code .sao-close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 30px;
    background: url("../image_1/login/close.png") no-repeat center center;
    cursor: pointer;
    text-indent: -99990px;
    border-left: 2px solid #EEEEEE;
}

.sao-code .sao-close:hover {
    background-image: url('../image_1/login/close-hover.png');
}

.sao-code .sao-box {
    padding: 15px;
    border: 2px solid #ddd;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
}

.sao-code .sao-flex {
    display: -webkit-flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 300px;
    height: 260px;
}

.sao-code .code-area {
    width: 140px;
    min-height: 120px;
    margin-top: -20px;
}

.sao-code .code-area .code-tip {
    margin: 0 0 15px 0;
    text-align: left;
}

.sao-code .code-area .code-img {
    position: relative;
    min-height: 120px;
    text-align: center;
}

.sao-code .code-area .refresh-mk:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../image_1/login/20180301170809_7766.png') no-repeat center center;
    -moz-background-size: 40px;
    background-size: 40px;
    -moz-animation: rotateMK 1s linear infinite;
    -webkit-animation: rotateMK 1s linear infinite;
    animation: rotateMK 1s linear infinite;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

@-webkit-keyframes rotateMK {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes rotateMK {
    from {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotateMK {
    from {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes name {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

.sao-code .code-img .code-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    color: #fff;
}

.sao-code .code-img .code-pass {
    display: -webkit-box;
    display: flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sao-code .code-area .c-img {
    max-width: 100%;
    vertical-align: middle;
    border: 1px solid #ccc;
}

.sao-code .pass-refresh a {
    color: #fff;
}

.sao-code .img-tip {
    height: 90%;
    width: 50%;
    background: url('../image_1/login/20180226175615_1338.png') no-repeat center center;
    -moz-background-size: contain;
    background-size: contain;
}

.sao-code:after {
    content: '';
    position: absolute;
    right: -16px;
    bottom: 50px;
    border-color: transparent transparent transparent #ddd;
    border-width: 8px 8px;
    border-style: solid;
}

.sao-code:before {
    content: '';
    position: absolute;
    right: -14px;
    bottom: 50px;
    border-color: transparent transparent transparent #fff;
    border-width: 8px 8px;
    border-style: solid;
    z-index: 1000;
}

.loginView a.forumLogin {
    padding-left: 20px;
    margin-right: 20px;
    width: 80px;
    background: url("../image_1/login/login_forum.png") no-repeat left center;
}

.forumView {
    margin-left: -70px;
    margin-top: 30px;
}

/*璁哄潧鐧诲綍妗�*/

.forum-box {
    position: absolute;
    width: 170px;
    height: 140px;
    line-height: 20px;
    font-size: 12px;
    padding: 10px 40px 10px 40px;
    background: #fff;
    border: 2px solid #ddd;
    z-index: 999;
}

.forum-box:after {
    content: '';
    position: absolute;
    top: -16px;
    right: 70px;
    border-color: transparent transparent #ddd transparent;
    border-width: 8px 8px;
    border-style: solid;
}

.forum-box:before {
    content: '';
    position: absolute;
    top: -14px;
    right: 70px;
    border-color: transparent transparent #fff transparent;
    border-width: 8px 8px;
    border-style: solid;
    z-index: 1000;
}

.li-line {
    min-height: 30px;
}

.fg-h {
    height: 40px;
    line-height: 40px;
}

.overlay input {
    font: 13.3333px Arial;
}

.overlay .txt {
    width: 100%;
    height: 28px;
    padding: 0;
    border: 1px solid #EEEEEE;
    text-indent: 5px;
}

.li-line .login_input {
    background: #2E9FFF;
    width: 40px;
    height: 24px;
    line-height: 24px;
    color: #fff;
    margin-top: 8px;
    text-align: center;
    border: none;
    outline: 0;
    cursor: pointer;
}

.forget-pwd {
    display: inline-block;
    margin-right: -20px;
    margin-left: 5px;
    color: #2E9FFF !important;
}

.forget-pwd:hover {
    color: #0165FD;
    text-decoration: underline;
}

.loging {
    line-height: 40px;
    margin-right: 4px;
}

.forum-close {
    background: url('../image_1/login/close.png') no-repeat center center;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    height: 35px;
    width: 35px;
}