<!DOCTYPE html>
<html lang="en">

<head>
    <title>直播8-JRS直播|足球直播|NBA直播 –全网免费超清无延时直播网</title>
    <meta name="keywords" content="直播8，直播吧，JRS直播，足球直播，NBA直播，英超直播 " />
    <meta name="description" content="直播8是知名体育赛事汇聚平台，主要提供免费赛事直播、足球集锦、NBA录像、英超直播等直播服务，直播8以全网最超清信号让您免费畅享五大联赛和NBA直播,并且打造国内最好体育赛事直播吧。" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <meta name="baidu-site-verification" content="FeM2EtCC8T" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{../styles_1/common.css}" />
    <link rel="stylesheet" th:href="@{../styles_1/download.css}" />
    <!-- <link rel="stylesheet" href="../static/styles_1/common.css" />
    <link rel="stylesheet" href="../static/styles_1/download.css" /> -->

</head>

<body>
    <div th:replace="layout/header :: header"></div>
    <div id="Content">
        <div class="aboxF">
            <img th:src="@{../image_1/downtop.jpg}" class="bg" />
            <!-- <img src="../static/image_1/downtop.jpg" class="bg" /> -->
            <div class="abox">
                <div class="link ios">
                    <p>ios下载</p>
                </div>
                <div class="link android">
                    <p>安卓下载</p>
                </div>
            </div>
            <p class="warm">※安装APP后若无法更新版本，请先卸载再重新安装</p>
        </div>
        <div id="Teach">
            <div class="title">
                <p><span class="b">安装教学</span></p>
            </div>
            <div class="con">因为这类软体无法通过Apple/Google审核于AppStore/Google play上架，因此需要透过特殊的方式下载并安装，请各位客官放心安装！</div>
            <div class="title">
                <p><span class="b">I</span><span class="s">os</span>如何安装</p>
            </div>
            <div class="con ios">
                <p>1.APP下载完成后，请开启【设置】&gt;点选【通用】</p>
                <p>2.点选【设备管理】或【描述档与装置管理】或【描述档】</p>
                <p>3.点入【企业级应用】的选项</p>
                <p>4.按下【信任iPhone Distribution:KOS,OOO】</p>
                <p>5.按下【信任】APP即完成设定</p>
                <p>6.点击开启【直播8 App】，开始享用！</p>
            </div>
            <div class="title">
                <p><span class="b">A</span><span class="s">ndroid</span>如何安装</p>
            </div>
            <div class="con android">
                <p>1.下载前请先至【设定】&gt; [安全性] &gt; 将[未知的来源] 打勾（务必请打勾）</p>
                <p>2.点击【下载按钮】或扫描二维码下载直播8 apk并同意安装即可</p>
            </div>
        </div>
        <img th:src="@{../image_1/downbot.jpg}" class="bg" />
        <!-- <img src="../static/image_1/downbot.jpg" class="bg" /> -->
    </div>
    <div th:replace="layout/footer :: footer"></div>
    <script>
        $(function () {
            $('.link').click(function(){
                // location.href = 'http://r8h3k.cn/a/aCGUG1';
                location.href = 'http://0592fenfa.cn/app.php/793';
            })
         })
    </script>
</body>

</html>