<!DOCTYPE html>
<html layout:decorator="layout/layout">

<head>
    <title>直播8-足球直播_篮球直播_2018世界杯直播_CCTV5在线直播</title>
    <meta name="keywords" content="直播吧,直播8,足球直播,篮球直播,NBA直播,世界杯直播,在线直播,体育直播" />
    <meta name="description" content="直播吧是国内最好的体育直播平台,主要提供足球直播、篮球直播、NBA直播、CBA直播、世界杯直播、球赛直播、比分直播、英超直播以及CCTV5在线直播等体育赛事。" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon_1.ico"/>
    <link rel="stylesheet" th:href="@{styles_1/detail.css}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <!-- <script th:src="@{js_1/index.js}"></script> -->
    <meta name="baidu-site-verification" content="FeM2EtCC8T" />
    <!-- <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?aab079013b60296378945e415582815d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script> -->
    <style>
        a[title='站长统计']{
            display: none;
        }
    </style>
</head>

<body>
    <div class="container" layout:fragment="content">
        <div class="body">
            <div class="play-left">
                <div class="play-player" id="play_player">
                    <div class="play-animate"></div>
                    <div class="play-nosignal"></div>
                    <!-- 赛事集锦视频 -->
                    <iframe src="http://v.qq.com/iframe/player.html?tiny=0&auto=1&vid=m0026ioas01" frameborder="0"></iframe>

                    <div class="player-ad-close"></div>
                </div>
            </div>
            <!-- <div class="play-right">
          <a href="http://wx3.sinaimg.cn/large/dd29666egy1ftt1j5elw9j20780i2n0y.jpg">
            这里是广告位,尺寸260*650
          </a>
        </div> -->
        </div>
    <script src="https://s13.cnzz.com/z_stat.php?id=1273166609&amp;web_id=1273166609" language="JavaScript"></script>

    </div>
</body>

</html>