<table data-repeat-rendered="showimg" cellspacing="0" cellpadding="0" border="0" width="378">
    <tbody>
        <tr>
            <td class="userPro" valign="top">
                <div class="left">
                    <a target="_blank" href="javascript:;">
                        <img class="lazy" src="http://bbsimg.zhibo8.cc/bbsimg/data/avatar/2018-11-06/m_7592009.jpg">
                    </a>
                </div>
            </td>
            <td class="commentTextList" valign="top">
                <div class="comment">
                    <div class="info">
                        <div class="left">
                            <a target="_blank" class="user_name" href="javascript:;">大胡子加油</a>
                        </div>
                        <div class="right">
                            <span style="cursor:pointer; color:#4E84AE;" class="up_btn" cid="130017433" uid="0">顶(<font
                                    class="up_cnt">0</font>)</span>
                            <span style="cursor:pointer; color:#4E84AE;" class="down_btn" cid="130017433" uid="0">
                                踩(<font class="down_cnt">0</font>)</span>
                            64楼
                        </div>
                    </div>
                    <p class="word">**** 一点信息都没有 搞毛线啊</p>
                    <p>
                        <span class="dev_info">12-01 16:56
                        </span>
                        <span style="cursor:pointer; color:#4E84AE;" class="report_btn" cid="130017433">举报</span>
                        <span style="float:right;"><a class="reply" href="javascript:void(0);">回复</a></span>
                    </p>
                </div>
            </td>
        </tr>
    </tbody>
</table>