<!DOCTYPE html>
<html>

<head>
    <title>直播8-足球直播_篮球直播_2018世界杯直播_CCTV5在线直播</title>
    <meta name="keywords" content="直播吧,直播8,足球直播,篮球直播,NBA直播,世界杯直播,在线直播,体育直播" />
    <meta name="description" content="直播吧是国内最好的体育直播平台,主要提供足球直播、篮球直播、NBA直播、CBA直播、世界杯直播、球赛直播、比分直播、英超直播以及CCTV5在线直播等体育赛事。" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon_1.ico" />
    <meta name="baidu-site-verification" content="FeM2EtCC8T" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" th:href="@{../styles_1/common.css}" />
    <link rel="stylesheet" th:href="@{../styles_1/nbanews.css}" />
    <!-- <link rel="stylesheet" href="../static/styles_1/common.css" />
    <link rel="stylesheet" href="./nbanews.css" /> -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <!-- <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?aab079013b60296378945e415582815d";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script> -->
</head>

<body>
<div th:replace="layout/header :: header"></div>


<div id="main">
    <div id="middle" style="margin-top:0;">

        <div class="m_left">
            <!--top left start-->
            <div class="t_left">
                <ul>
                    <li th:each="v:${videos}">
                        <a th:href="${v.link}" th:if="${v.isFisrt=='TRUE'}" target="_blank">
                            <img th:alt="${v.name}" th:src="${webImageBase+v.image}" class="first_img" onerror="javascript:this.src='/image_1/error.png';"/>
                        </a>
                            <span th:if="${v.isFisrt=='TRUE'}" class="fist_span">
                                <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                            </span>

                        <a th:href="${v.link}" th:if="${v.isFisrt!='TRUE'}"  target="_blank">
                            <img th:alt="${v.name}" th:src="${v.image}"  onerror="javascript:this.src='/image_1/error.png';"/>
                        </a>
                             <span th:if="${v.isFisrt!='TRUE'}">
                                <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                            </span>
                    </li>

                </ul>
                <!--mid adv start-->
                <div class="adv_mid_banner">
                </div>
                <!--mid adv end-->
            </div>
            <!--top left end-->


            <!--Recommend video start-->
            <!--            <div class="video">
                                <div class="v_top"><a class="v_group">推荐视频</a></div>
                                <ul>
                                                    </ul>
                            </div>-->
            <!--Recommend video start-->

            <!--new video start-->
            <div class="video">
                <div class="v_top">
                    <a class="v_group">最新视频</a>
                    <!-- <a href="https://www.zhibo8.cc/nba/index_old.htm" target="_blank" class="more">
                        <font color="red">+更多每日视频</font>
                    </a> -->
                </div>
                <ul>
                    <li th:each="v:${newVideos}">
                        <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                    </li>
                </ul>
            </div>
            <!--new video end-->

            <!--team video start-->

            <div class="video v_change">
                <div class="v_top">
                    <a class="v_group">英超视频</a>

                    <!-- <a class="more" href="./more.htm?label=%E5%8B%87%E5%A3%AB" target="_blank">+更多</a> -->

                </div>

                <div class="content" style="height:500px;overflow: hidden;">

                    <ul>
                        <li th:each="v:${ycVideos}">
                            <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="video v_change">
                <div class="v_top">
                    <a class="v_group">意甲视频</a>

                    <!-- <a class="more" href="./more.htm?label=%E6%B9%96%E4%BA%BA" target="_blank">+更多</a> -->

                </div>

                <div class="content" style="height:500px;overflow: hidden;">

                    <ul>
                        <li th:each="v:${yjVideos}">
                            <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="video v_change">
                <div class="v_top">
                    <a class="v_group">西甲视频</a>


                    <!-- <a class="more" href="./more.htm?label=%E7%81%AB%E7%AE%AD" target="_blank">+更多</a> -->

                </div>

                <div class="content" style="height:500px;overflow: hidden;">

                    <ul>
                        <li th:each="v:${xjVideos}">
                            <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="video v_change">
                <div class="v_top">
                    <a class="v_group">法甲视频</a>

                    <!-- <a class="more" href="./more.htm?label=CBA" target="_blank">+更多</a> -->

                </div>

                <div class="content" style="height:500px;overflow: hidden;">

                    <ul>
                        <li th:each="v:${fjVideos}">
                            <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                        </li>

                    </ul>
                </div>

            </div>
            <div class="video v_change">
                <div class="v_top">
                    <a class="v_group">德甲视频</a>

                    <!-- <a class="more" href="./more.htm?label=%E9%9B%B7%E9%9C%86" target="_blank">+更多</a> -->

                </div>

                <div class="content" style="height:500px;overflow: hidden;">

                    <ul>
                        <li th:each="v:${djVideos}">
                            <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="video v_change">
                <div class="v_top">
                    <a class="v_group">中超视频</a>

                    <!-- <a class="more" href="./more.htm?label=%E5%87%AF%E5%B0%94%E7%89%B9%E4%BA%BA" target="_blank">+更多</a> -->

                </div>

                <div class="content" style="height:500px;overflow: hidden;">

                    <ul>
                        <li th:each="v:${zcVideos}">
                            <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                        </li>

                    </ul>

                </div>

            </div>
            <div class="video v_change">
                <div class="v_top">
                    <a class="v_group">欧冠视频</a>

                    <!-- <a class="more" href="./more.htm?label=%E9%A9%AC%E5%88%BA" target="_blank">+更多</a> -->

                </div>

                <div class="content" style="height:500px;overflow: hidden;">

                    <ul>
                        <li th:each="v:${ogVideos}">
                            <a th:href="${v.link}" target="_blank" th:text="${v.name}"></a>
                        </li>

                    </ul>

                </div>

            </div>

            <!--team video end-->
        </div>
        <div th:replace="layout/footervideo_right :: footervideo_right"></div>
        <!-- <div th:replace="layout/footer_video_right :: footer_video_right"></div> -->
        <div class="clearb"></div>
    </div>
</div>



<div th:replace="layout/footer :: footer"></div>
<script>
    $(function () {
        $('.turn_left').click(function () {
            //var li_num = $(this).next().find('.m_r_team li').length;
            var jf_left = -parseInt($(this).next().find('.m_r_team').css('left'));
            if (jf_left > 0) {
                $(this).next().find('.m_r_team').css('left', -(jf_left - 32) + 'px');
                $(this).next().next().removeClass('more_right_h');
                $(this).next().next().addClass('more_right');
                if (jf_left == 32) {
                    $(this).removeClass('more_left');
                    $(this).addClass('more_left_h');
                }
            }
        })

        $('.turn_right').click(function () {
            var li_num = $(this).prev().find('.m_r_team li').length;
            var jf_left = -parseInt($(this).prev().find('.m_r_team').css('left'));
            if ((li_num - 4) * 32 > jf_left) {
                $(this).prev().find('.m_r_team').css('left', -(jf_left + 32) + 'px');
                if ((li_num - 5) * 32 == jf_left) {
                    $(this).removeClass('more_right');
                    $(this).addClass('more_right_h');
                }
                $(this).prev().prev().removeClass('more_left_h');
                $(this).prev().prev().addClass('more_left');
            } else {

            }
        })

        $('.m_r_team li').click(function () {
            $(this).siblings().removeClass('a_cur');
            $(this).addClass('a_cur');
            var li_index = $(this).index();
            $(this).parent().parent().parent().parent().nextAll('table').addClass('dis_none');
            $(this).parent().parent().parent().parent().nextAll('table').eq(li_index).removeClass(
                    'dis_none');
        })
    })
</script>
<script src="https://s13.cnzz.com/z_stat.php?id=1273166609&amp;web_id=1273166609" language="JavaScript"></script>

</body>

</html>