<!DOCTYPE html>
<html layout:decorator="layout/layout">
<head>
    <title>体育图片_NBA图片_CBA图片_足球图片_篮球图片-直播8</title>
    <meta name="keywords" content="体育图片,NBA图片,CBA图片,足球图片,篮球图片" />
    <meta name="description" content="体育图片频道为您提供最新的NBA图片、CBA图片、足球图片、篮球图片等，更多精彩好看的体育图片尽在直播吧" />
    <link rel="stylesheet" th:href="@{/styles_1/collection.css}" />
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-md-9 left-content">
            <div class="row">
                <div class="col-md-12 breadcrumbs"><a href="/">首页</a> > <a href="/image_1">体育图片</a></div>
            </div>
            <div class="collection-gallery">
                <div class="row">
                    <div class="col-md-12 title">
                        <i class="iconfont icon-swticonzuqiu"></i>
                        <b>足球图片</b>
                        <a class="pull-right" th:href="${'/projectImage_1?project=足球'}">更多>></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 collection-item" th:each="fi:${footballImages}">
                        <a th:href="${'/viewImage_1/'+fi.id + '/1'}" ><img class="img-responsive" th:src="${webImageBase + fi.images[0].name}" th:alt="${fi.title}"/></a>
                        <a th:href="${'/viewImage_1/'+fi.id + '/1'}" th:text="${fi.title}" target="_blank"></a>
                    </div>
                </div>
            </div>
            <div class="collection-gallery">
                <div class="row">
                    <div class="col-md-12 title">
                        <i class="iconfont icon-swticonlanqiu"></i>
                        <b>篮球图片</b>
                        <a class="pull-right" th:href="${'/projectImage_1?project=篮球'}">更多>></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 collection-item" th:each="bi:${basketballImages}">
                        <a th:href="${'/viewImage_1/'+bi.id+'/1'}" ><img class="img-responsive" th:src="${webImageBase + bi.images[0].name}" th:alt="${bi.title}"/></a>
                        <a th:href="${'/viewImage_1/'+bi.id+'/1'}" th:text="${bi.title}" target="_blank"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 right-content">
            <div th:replace="layout/right :: channel"></div>
            <div th:replace="layout/right :: collection"></div>
            <div th:replace="layout/right :: video"></div>
        </div>
    </div>
</div>
</body>
</html>