<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="baidu-site-verification" content="FeM2EtCC8T" />
    <title>直播8-JRS直播|足球直播|NBA直播 –全网免费超清无延时直播网</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon_1.ico" />
    <meta name="keywords" content="直播8，直播吧，JRS直播，足球直播，NBA直播，英超直播 " />
    <meta name="description" content="直播8是知名体育赛事汇聚平台，主要提供免费赛事直播、足球集锦、NBA录像、英超直播等直播服务，直播8以全网最超清信号让您免费畅享五大联赛和NBA直播,并且打造国内最好体育赛事直播吧。" />
    <link rel="stylesheet" th:href="@{styles_1/mindex.css?version=2224}" />
    <!-- <link rel="stylesheet" href="../static/styles_1/mindex.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.0/jquery.min.js"></script>
    <script th:src="@{js_1/mindex.js?version=2242}"></script>
    <!-- <script src="../static/js_1/mindex.js"></script> -->
    <script>
        $(function(){
            if(!/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
                window.location.href = "https://www.zhibo8.net";
            }
        })
    </script>
</head>

<body>
    <div class="global">
        <!-- header/S -->
        <div class="header">
            <h1 class="logo"><a href="https://www.zhibo8.net/mindex.html">直播8</a></h1>
            <div class="global_line"><a href="javascript:;" class="global_sel">篮球</a></div>
            <a href="https://www.zhibo8.net/" class="setting"><img src="https://www.zhibo8.net/image_1/towww.png" /></a>
            <!-- <div class="to_simple"><a href="//m.zhibo8.cc/wap"><img src="//static4style.qiumibao.com/m_images/jianban.png"></a></div>
            <a href="//www.zhibo8.cc/" class="jump"><img src="//static4style.qiumibao.com/m_images/towww.png"></a>
            <a class="setting" href="/feedback/"><img src="//static4style.qiumibao.com/m_images/feedback.png"></a> -->
        </div>
        <!-- header/E -->
        <!-- nav/S -->
        <div class="nav nav_sticky">
            <ul>
                <li class="current"><a href="/#">直播</a></li>
                <!-- <li class="isend"><a href="v2/record.html">完赛</a></li> -->
                <li><a href="/mvideo.html">视频</a></li>
                <li><a href="/mnews.html">新闻</a></li>
                <!-- <li><a href="//m.zhibo8.cc/json/paihang/v2/main.html">数据</a></li> -->
                <li><a href="/image_1.html">图片</a></li>
                <!-- <li><a href="//bbs.zhibo8.cc/">论坛</a></li> -->
            </ul>
        </div>
        <!-- nav/E -->



        <!--头条 -->
        <div class="module headline">
            <div class="head">
                <!--<div class="head_market"></div>-->
                <h2 class="current">头条新闻</h2>
            </div>
            <div class="content">
                <div class="panel">
                    <div class="list">
                        <ul class="ent">
                            <li th:each="upNews:${upNewList}" class="lite news_lite" type="football" label='足球' style="display: none;">
                                <h2 th:if="${upNews.leftNewsDTO!=null}">
                                    <a th:href="'/mdetail/'+${upNews.leftNewsDTO.id}+'.html'" target="_blank">
                                        <img th:src="${webImageBase+upNews.leftNewsDTO.image}" onerror="this.src='https://www.zhibo8.net/image_1/mindex-news-default.png'"
                                            alt="" />
                                        <div class="line_tlt" th:text="${upNews.leftNewsDTO.title}"></div>
                                    </a>
                                </h2>
                            </li>
                            <li th:each="downNews:${downNewList}" label="NBA,篮球" class="lite news_lite" type="basketball">
                                <h2 th:if="${downNews.leftNewsDTO!=null}">
                                    <a th:href="'/mdetail/'+${downNews.leftNewsDTO.id}+'.html'" target="_blank">
                                        <img th:src="${webImageBase+downNews.leftNewsDTO.image}" onerror="this.src='https://www.zhibo8.net/image_1/mindex-news-default.png'"
                                            alt="" />
                                        <div class="line_tlt" th:text="${downNews.leftNewsDTO.title}"></div>
                                    </a>
                                </h2>
                            </li>
                        </ul>
                    </div>
                    <!--end list-->
                </div>
                <!--end panel-->
            </div>
            <!--end content-->
        </div>
        <!--end module-->
        <!-- 头条 -->

        <!-- 赛事选择（重要、足球、篮球、其他、全部）-->
        <div class="module saishi shaixuan">
            <span value="zhongyao">重要</span><span value="football">足球</span><span value="basketball" class="current">篮球</span><span
                class="" value="all">全部</span>
        </div>
        <!-- 赛事选择（重要、足球、篮球、其他、全部）-->
        <div class="module saishi" th:each="dl,iter:${dailyLives}">
            <div class="head">
                <h2 class="current" th:text="${dl.dateStr}"></h2>
            </div>
            <div class="content">
                <div class="panel">
                    <div class="list">
                        <ul class="ent">
                            <li th:each="m:${dl.matches}" class="lite" th:type="|${m.project=='足球' ? 'football' : ''} ${m.project=='篮球' ? 'basketball' : ''}|"
                                th:label="${m.emphasis==1?'重要':m.project}" th:classappend="|${m.emphasis==1 ? 'emphasis' : ''} ${m.important==1 ? 'important' : ''} ${m.project=='足球' ? 'football' : ''} ${m.project=='篮球' ? 'basketball' : ''}|">
                                <h2><a th:href="'/mwrap/'+${m.id}+'.html'">
                                        <table>
                                            <tbody>
                                                <tr>
                                                    <td class="s_time" th:text="${m.playTime}"></td>
                                                    <td>
                                                        <div th:if="${m.masterTeamLink}">
                                                            <img class="lazy" th:src="${m.masterTeamLink}"  onerror="this.src='https://www.zhibo8.net/image_1/defaultImg.jpg'" alt="" style="display: inline;" />
                                                        </div>
                                                        <div th:if="!${m.masterTeamLink}" class="masterDefaultImg defaultImg">
                                                            <img class="lazy" src='https://www.zhibo8.net/image_1/default_h.png' alt="" style=" display: inline;" />
                                                        </div>
                                                        <div th:if="${m.teamFlag=='TRUE'}" class="masterTeamName teamName"><b th:text="${m.masterTeamName}"></b></div>
                                                        <div th:if="${m.teamFlag=='FALSE'}" class="masterTeamName teamName"><b th:text="${m.name.split('VS').length>=1?m.name.split('VS')[0]:''}"></b></div>
                                                    </td>
                                                    <td>
                                                        <div class="s_name" th:text="${m.game}"></div>
                                                        <div class="s_keyword">
                                                            <a th:each="a:${m.ads}" th:if="${a.light==1}" th:href="${a.link}"
                                                                th:text="${a.name}" th:classappend="|${a.light==1 ? 'important' : ''}|"
                                                                target="_blank"></a>
                                                            <!--<a th:if="${m.sinaShujuUrl!=null}" th:href="${'/match_1/'+m.id+'.html'}"-->
                                                            <!--target="_blank">图文直播</a>-->
                                                            <!--<a th:if="${m.sinaShujuUrl==null}" th:href="${'/match_1/'+m.id+'.html'}"-->
                                                            <!--target="_blank">互动直播</a>-->
                                                            <span class="live" th:each="l:${m.lives}">
                                                                <!-- <div th:if="${l.signals.size() &gt; 1}" th:remove="tag">
                                                                    <a th:href="${l.signals[0].playFlag!='INNER'?'/match_1/'+m.id+'.html':'/live_play_inner/'+s.liveId+'.html'}"
                                                                        th:text="${l.name}" target="_blank"></a>
                                                                </div> -->
                                                                <div th:if="${l.signals.size() &gt; 0}" th:remove="tag">
                                                                    <a th:href="${l.signals[0].playFlag=='INNER'?'/live_play_inner/'+l.signals[0].liveId+'.html':l.signals[0].link}"
                                                                        th:text="${l.name}" target="_blank"></a>
                                                                </div>
                                                            </span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <!-- <div><img class="lazy" th:if="${m.guestTeamLink}" th:src="${m.guestTeamLink}"
                                                                onerror="this.src='https://www.zhibo8.net/image_1/defaultImg.jpg'"
                                                                alt="" style="display: inline;" /></div> -->
                                                        <div th:if="${m.guestTeamLink}">
                                                            <img class="lazy" th:src="${m.guestTeamLink}"  onerror="this.src='https://www.zhibo8.net/image_1/defaultImg.jpg'" alt="" style="display: inline;" />
                                                        </div>
                                                        <div th:if="!${m.guestTeamLink}" class="guestDefaultImg defaultImg">
                                                            <img class="lazy" src='https://www.zhibo8.net/image_1/default_v.png' alt="" style=" display: inline;" />
                                                        </div>
                                                        <div th:if="${m.teamFlag=='TRUE'}" class="guestTeamName teamName"><b th:text="${m.guestTeamName}"></b></div>
                                                        <div th:if="${m.teamFlag=='FALSE'}" class="guestTeamName teamName"><b th:text="${m.name.split('VS').length>=2?m.name.split('VS')[1]:''}"></b></div>
                                                    </td>
                                                    <!-- <td>
                                                        <div class="remind">完赛</div>
                                                    </td>
                                                    <td>
                                                        <div class="hideTime" style="display:none;">2018-12-23 08:00</div>
                                                    </td> -->
                                                    <td>
                                                        <div class="remind">
                                                            <a href="javascript:;" target="_blank">
                                                                <img src="https://static4style.oss-cn-hangzhou.aliyuncs.com/common/img/clock1.png"
                                                                    id="clock1" />
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </a></h2>
                            </li>

                        </ul>
                    </div>
                    <!--end list-->
                </div>
                <!--end panel-->
            </div>
            <!--end content-->
        </div>
        <!--end module-->

        <!-- footer/S -->
        <div class="footer">
            <!-- <div class="links">
                <a href="//www.zhibo8.cc/baocuo.htm" class="repweb">报错反馈</a>
                <a href="//www.zhibo8.cc/" class="pcs">电脑版</a>
            </div> -->
            <div class="copyright">
                直播8是一个体育导航，所有直播和视频链接均由网友提供，并链接到其他网站播放，如有异议请与我们取得联系。
            </div>
            <div class="gotop">返回顶部</div>
        </div>
        <!-- footer/E -->

    </div>
</body>

</html>