/**************浠ヤ笅涓鸿瘎璁哄姛鑳芥牱寮�*******************/

.pllist {
    width: 100%;
    height: auto;
}

.pllist a {
    text-decoration: none;
}

.pllist * {
    line-height: 25px;
    font-size: 14px;
    vertical-align: bottom;
}

.userPro {
    width: 75px;
    vertical-align: top;
}

.userPro img {
    width: 48px;
    height: 48px;
    padding: 2px;
    border: solid 1px #ddd;
    background: #FFFFFF;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.commentTextList {
    font-size: 14px;
    line-height: 24px;
}

.comment {
    border-bottom: 1px solid #DDD;
    padding: 0 0 11px 0;
}

.yinyong {
    background: #F2F2F2;
    margin: 9px 0 5px 0;
    padding: 5px 9px;
    font-size: 12px;
    border: 1px solid #DDD;
}

.info {
    font-size: 12px;
    color: #BBBBBB;
    width: 100%;
    height: auto;
    line-height: 30px;
    overflow: hidden;
    clear: both;
}
.user_name{
    margin-right: 10px;
}
.info .right a {
    font-size: 10px;
    letter-spacing: -2px;
}
.info .right a ,.info .right span{
    margin: 0 5px;
}

.info .right .reply {
    font-size: 14px !important;
    letter-spacing: 0 !important;
}

.word {
    word-break: break-all;
    text-indent: 0em;
    margin: 0;
    padding: 0;
    height: auto;
    overflow: hidden;
}

.word img {
    display: inline-block;
    height: 25px;
}

.light {
    background: white;
}

#re {
    clear: both;
    margin: 10px 0 20px;
    width: 650px;
}

#re #re_box {
    padding: 24px 14px 22px 95px;
    background: #f4f4fe;
    border: 1px solid #e4e3f3;
}

#re #re_box .left {
    float: inherit;
    position: absolute;
    top: 24px;
    left: 13px;
}

#re .input {
    position: relative;
    z-index: 1;
}

#re .input textarea {
    clear: both;
    width: 100%;
    height: 102px;
    background: #fff;
    border: 1px solid #ddd;
    margin: 0 -4px 10px 0;
    resize: none;
    font-size: 14px;
    zoom: 1;
}

#re .face_button {
    position: absolute;
    right: 12px;
    bottom: 45px;
    z-index: 3;
    height: 22px;
    width: 26px;
    background: url('../image_1/login/20180116162509_8127.png') no-repeat center center;
    -moz-background-size: auto 100%;
    background-size: auto 100%;
    cursor: pointer
}

#re .plate_03 {
    /* position:absolute;top:0; right:0; */
    font-size: 14px;
    text-align: right;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.nextbot {
    overflow: hidden;
    font-size: 14px;
}
.nextbot a{
    width: 48%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* word-break: normal; */
    white-space: nowrap;
}
.nextbot a span{
    font-style: italic;
}
/*琛ㄦ儏*/

.pl-emoji {
    position: absolute;
    top: 135px;
    right: 6px;
    width: 312px;
    min-height: 180px;
    border: 1px solid #E5E5E1;
    background: #fff;
    z-index: 3;
}

.pl-emoji:after {
    content: '';
    position: absolute;
    top: -20px;
    right: 8px;
    z-index: 2;
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent #E5E5E1 transparent;
}

.pl-emoji:before {
    content: '';
    position: absolute;
    top: -18px;
    right: 8px;
    z-index: 3;
    border-width: 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.pl-emoji .pl-e-s {
    position: relative;
    padding: 8px;
    background: #F7F7F7;
    border-top: 1px solid #E5E5E1;
}

.pl-emoji .e-switch {
    color: #333;
    padding: 3px 5px;
    cursor: pointer;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.pl-emoji .e-cur {
    color: #fff;
    background: #8CB0EA;
}

.pl-emoji .pl-e-s .e-close {
    position: absolute;
    right: 5px;
    top: 8px;
    cursor: pointer
}

.pl-emoji .e-area {
    margin: 8px 8px 0;
    height: 150px;
    border: 1px solid #E5E5E1;
    border-bottom: none;
    overflow: hidden;
}

.pl-emoji .e-area .img {
    float: left;
    width: 42px;
    text-align: center;
    border: 1px solid #f6f6f6;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pl-emoji .e-area .img-box {
    border: 1px solid #dfdfdf;
    background: #F7F7F7
}

.pl-emoji .e-area img {
    margin: 8px 0;
    width: 80%;
    vertical-align: middle;
}

.fbbx .xie img {
    width: 20px;
    left: 130px;
    cursor: pointer;
}

/*input login*/

.input_l_rel {
    position: relative;
    color: #666;
    _zoom: 1
}

.input_l_rel textarea {
    border: 1px solid #e1e1e1;
}

.input_login {
    position: absolute;
    display: none;
    left: 100px;
    top: 50px;
    width: 780px;
    height: 102px;
    background: #BDBDBD;
    font-size: 14px;
    color: #222;
    z-index: 980;
}

#re .face_img {
    background: #E5E5E1;
    border: 1px solid #AAA;
    float: left;
    height: 178px;
    left: 25px;
    bottom: 145px;
    padding: 2px;
    position: absolute;
    width: 410px;
    overflow: hidden;
    display: none;
}

.face_cat_wrap {
    width: 410px;
    height: 22px;
}

.face_cat {
    width: 100px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    float: left;
    border: solid 1px #A8A8A8;
    cursor: pointer;
}

.faces {
    width: 310px;
    height: auto;
    min-height: 100px;
}

.faces img {
    width: 20px;
    height: 20px;
    padding: 2px;
    margin: 2px;
    border: solid 1px #7E7E7E;
    display: block;
    float: left;
}

.bigimg {
    width: 100px;
    height: 100px;
    padding: 5px;
    position: absolute;
    top: 10px;
    right: 0;
}

.headpic img {
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.hot_huifu {
    width: 98%;
    /*border: 1px solid #CAD9EA;*/
    padding: 5px 0px;
    /*background: #F3F5F7;*/
    /*border-top: 2px solid #CAD9EA;*/
}

.hot_huifuT {
    font-size: 18px;
    font-weight: bold;
    color: #03F;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #CAD9EA;
    /*padding-left: 10px;*/
}

.floor {
    margin: 0;
    width: 99%;
    padding-top: 8px;
    /*background: #F3F5F7;*/
    border: none;
}

.floor .user {
    /*padding-left: 9px;*/
    position: relative;
    /*padding: 6px 0 0 10px;*/
    float: left;
}

.user img {
    padding: 2px;
    border: solid 1px #ddd;
    background: #FFFFFF;
    width: 45px;
    height: 45px;
    -moz-border-radius: 100%;
    border-radius: 100%;
}

.floor_box {
    word-break: break-rall;
    white-space: normal;
    margin-left: 65px;
    padding-left: 6px;
    padding-bottom: 0px;
}

.floor .author {
    padding: 1px 2px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.floor .case {
    font-size: 14px;
    padding: 8px 0 8px 4px;
    word-break: break-all;
    table-layout: fixed;
    word-warp: break-word;
    border-bottom: 1px dotted #DDD;
    line-height: 22px;
    color: black;
    font-family: "寰蒋闆呴粦", "瀹嬩綋";
    height: auto;
}

.floor .case img {
    display: inline-block;
    height: 25px;
}

.user_name {
    color: #4E84AE;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    clear: both;
}

#header #nav ul li ul {
    width: 80px !important;
    z-index: 100;
    top: 25px !important;
}

.dev_info,
.dev_info a {
    color: #999 !important;
    text-decoration: none;
    font-size: 12px;
}

#iframeB {
    height: 0;
    display: none;
}

.ms-controller,
.ms-important,
[ms-controller],
[ms-important] {
    visibility: hidden;
}

.advert_p_editor_bottom {
    display: inline-block;
    text-align: right;
    color: blue;
    width: 280px;
}

.menu {
    width: 100%;
    height: 50px;
    border-bottom: solid 2px #4184F3;
    /*background: #4184F3;*/
    /*#4285F4;*/
    /*#408ddb;#3F84F0;#4285F4*/
}

.menu .container {
    height: 65px;
    overflow: visible !important;
}

.menu .logo {
    width: 148px;
    height: 50px;
    position: absolute;
    top: 10px;
    left: 0;
}

.menu .logo img {
    max-width: 140px;
}

.menu .nav {
    width: auto;
    height: 25px;
    position: absolute;
    top: 25px;
    left: 160px;
    background-color: #FFFFFF;
    line-height: 25px !important;
}

.menu .nav ul {
    width: auto;
    position: relative;
}

.menu .nav ul li {
    width: auto;
    height: 25px;
    margin: 0 10px 0 5px;
    float: left;
    position: relative;
    font-family: "microsoft yahei", "å¾®è½¯é›…é»‘", "é»‘ä½“", "simsun", "å®‹ä½“";
}

.menu .nav ul li a {
    font-size: 15px;
    color: #555;
    line-height: 25px;
    /* text-shadow: #555 0 0 1px;*/
}

.menu .nav ul li a:visited {
    color: #555;
}

.menu .nav ul li a:hover {
    color: #E84235;
}

.menu .nav ul li .child_navs {
    display: none;
    padding: 0 0 5px 0;
    position: absolute;
    left: -15px;
    top: 25px;
    z-index: 10;
    background-color: #fff;
    min-width: 100px;
    border: solid 1px #4184F3;
    /*border-radius: 5px;*/
    border-top: none;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
}

.menu .nav ul li .child_navs li {
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
}

.menu .nav ul li .child_navs li a {
    line-height: 25px;
    font-size: 14px;
}

.menu .new_ch a {
    position: relative;
}

.menu .new_ch span {
    z-index: 1;
    color: #fff;
    background-color: red;
    right: -16px;
    top: -12px;
    font-size: 12px;
    position: absolute;
    line-height: 14px;
}

.container {
    width: 990px;
    padding: 0;
    height: auto;
    margin: 0 auto;
    /* overflow: hidden; */
    position: relative;
}

/** common -start **/

body {
    /*font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;*/
    font: 12px "å®‹ä½“", "Arial Narrow", HELVETICA;
}

.left {
    float: left;
}

.right {
    float: right;
}

.margin_top_10 {
    margin-top: 10px;
}

.margin_top_20 {
    margin-top: 20px;
}

.clear {
    float: none;
    clear: both;
}

.line {
    margin: 0px auto 10px;
    height: 11px;
    width: 95%;
    border-bottom: solid 1px #c0c0c0;
}

.ad_box_250 {
    width: 250px;
    height: 250px;
    background: #e0e1e2;
}

.ico_video {
    /*line-height: 22px; text-indent: 20px;*/
    background: url("../image_1/login/video_ico.png") left center no-repeat;
}

.ico_news {
    /*line-height: 22px; text-indent: 20px;*/
    background: url("../image_1/login/news_ico.png") left center no-repeat;
}

.ico_bb {
    /*line-height: 22px; text-indent: 20px;*/
    background: url("../image_1/login/basketball_ico.png") left center no-repeat !important;
}

.ico_fb {
    /*line-height: 22px; text-indent: 20px;*/
    background: url("../image_1/login/football_ico.png") left center no-repeat !important;
}

.red_font {
    color: #E84235 !important;
}

.l_width {
    width: 120px !important;
}

.txt_center {
    text-align: center;
}

.breadcrumbs {
    line-height: 30px;
    font-size: 12px;
    color: #7E7E7E;
    margin: 0;
}

.breadcrumbs a {
    color: #7E7E7E !important;
}

.ovs {
    overflow: visible !important;
}

/** common -end **/

#main {
    width: 720px;
    height: auto;
    position: relative;
    overflow: hidden;
    float: left;
    /*border-top: 2px solid #003795;*/
}

#main .box {
    width: 700px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
    padding: 10px 0;
    /*border: solid 1px lightGrey;*/
}

#main .box .title {
    text-align: center;
}

#main .box .title h1 {
    margin-top: 0px;
    color: black;
    /* font-family: "å®‹ä½“", arial; */
    font-size: 22px;
    font-size-adjust: none;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    line-height: 30px;
    margin-bottom: 6px;
    font-weight: 800;
}

#main .box .title span {
    color: #7E7E7E;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    text-align: center;
}

#main .box .title span a {
    color: #7E7E7E;
    padding: 0 2px;
}

#main .box .Line {
    height: 1px;
    font-size: 0;
    border-top: 1px solid #E5E5E5;
    margin-top: 18px;
}

#main .box .content {
    height: auto;
    padding: 10px 0;
    line-height: 25px;
    font-size: 14px;
}

#main .box .content p {
    line-height: 25px;
    margin: 20px auto 0 auto;
    font-size: 14px;
}

#main .box .content img {
    max-width: 680px;
}

#main .boxs {
    width: 720px;
    height: auto;
    position: relative;
    overflow: hidden;
}

#main .boxs .box {
    width: 355px;
    height: auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    float: left;
    border-width: 0;
}

#main .boxs .box .content {
    border: solid 1px lightGrey;
    width: 333px;
    height: auto;
    padding: 5px;
}

#main .boxs .box .content a {
    line-height: 25px;
    font-size: 12px;
}

#main .box .content a:hover {
    color: red !important;
    text-decoration: underline !important;
}

#posts {
    width: 990px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

#posts .box {
    width: 355px;
    height: auto;
    padding: 0;
    position: relative;
    overflow: hidden;
    float: left;
    border-width: 0;
}

#posts .box .content {
    border: solid 1px lightGrey;
    width: 333px;
    height: auto;
    padding: 5px;
}

#posts .box .content a {
    line-height: 25px;
    font-size: 12px;
}

#siderbar {
    width: 250px;
    height: auto;
    position: relative;
    overflow: hidden;
    float: right;
}

#siderbar .advert {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
}

#siderbar .box {
    width: 250px;
    height: auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

#siderbar .box .content {
    border: solid 1px lightGrey;
    width: 238px;
    height: auto;
    padding: 5px;
}

#siderbar .box .content a {
    line-height: 25px;
    font-size: 12px;
}

.ad_left {
    display: block;
    position: absolute;
    top: 30px;
    /*top: -388px;*/
    width: 120px;
    left: -130px;
}

.ad_right {
    display: block;
    position: absolute;
    top: 30px;
    /*top: -388px;*/
    width: 120px;
    right: -130px;
}

.ad_close {
    float: right;
    padding: 2px;
    z-index: 2000;
    font-size: 12px;
    height: 20px;
    cursor: pointer;
    display: block !important;
}

.advertframe {
    width: 960px;
    height: 90px;
    margin: 0 auto 10px;
}

.box {
    height: auto;
    position: relative;
    margin-bottom: 10px;
}

.box .titlebar {
    height: 30px;
    line-height: 30px;
    /*background-color: #EDF7FE;*/
    /*#74b5f7*/
    ;
    position: relative;
    /*border: solid 1px #9cd6fe;*/
    /*border-radius: 4px 4px 0 0 ;*/
}

.box .titlebar h2 {
    font-weight: 400;
    padding-left: 10px;
    font-size: 14px;
    color: #fff;
    width: 120px;
    background-color: #4184F3;
    /*text-shadow: #555 0 0 1px;*/
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.box .titlebar h2 a {
    font-size: 14px;
    color: #fff;
}

.box .titlebar .more {
    color: #F7F7F7;
    position: absolute;
    bottom: 3px;
    right: 10px;
    font: 12px/20px "SimSun", "Arial Narrow";
}

.footer {
    margin: 0 auto;
    text-align: center;
    line-height: 30px;
}

#links {
    font-size: 12px;
}

#copyright {
    font-size: 12px;
}

/*#signals img{*/

/*padding: 5px; border: solid 1px #ccc;*/

/*}*/

/*** index -start ****/

#recommend {
    width: 720px;
    height: auto;
    overflow: hidden;
    /*background: #e0e1e2;*/
    font-size: 12px;
    color: #555;
    padding: 7px 5px;
}

#recommend .head {
    font-size: 14px;
    font-weight: 800;
}

#recommend .r_video,
#recommend .r_news {
    width: 355px;
    height: auto;
    overflow: hidden;
}

#recommend li {
    line-height: 22px;
    text-indent: 20px;
}

#recommend li span,
#ad_box .other span {
    padding: 0 5px;
}

#recommend .r_video li {
    background: url("../image_1/login/video_ico.png") left center no-repeat;
}

#recommend .r_news li {
    background: url("../image_1/login/news_ico.png") left center no-repeat;
}

#recommend li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#recommend li a {
    color: #222222;
}

#recommend li a:visited {
    color: #222222;
}

#recommend li a:hover {
    color: #2789e2;
}

#ad_box {
    width: 250px;
    height: 300px;
    /*background: #e0e1e2;*/
    padding-top: 10px;
}

#ad_box .other {
    padding: 8px 5px;
    /*border: solid 1px #c0c0c0;*/
}

#ad_box .other ul li {
    font-size: 12px;
    line-height: 22px;
    text-indent: 20px;
    background: url("../image_1/login/news_ico.png") left center no-repeat;
}

#ad_box li a {
    color: #222222;
}

#ad_box li a:visited {
    color: #222222;
}

#ad_box li a:hover {
    color: #2789e2;
}

.schedule_container {
    width: 820px;
    height: auto;
    /*overflow: hidden;*/
}

.bbs_container {
    width: 160px;
    height: auto;
    overflow: hidden;
}

.schedule_container .advert {
    margin-bottom: 10px;
}

.bbs_container .advert {
    width: 160px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.schedule_container .box .content {
    height: auto;
    border: solid 1px #4184F3;
    font-size: 12px;
    min-height: 10px;
    padding: 0 5px;
    /*overflow: hidden;*/
}

.bbs_container .box .titlebar {
    background-color: #4184F3;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
}

.bbs_container .box .content {
    height: auto;
    overflow: hidden;
    border: solid 1px #4184F3;
    font-size: 12px;
    padding: 0 0 0 5px;
}

.schedule_container .box .content ul li {
    height: auto;
    overflow: hidden;
    line-height: 30px;
    font-size: 12px;
    padding: 0 0 8px 0;
    margin: 8px 0;
    border-bottom: dotted 1px #CCCCCC;
    font-family: Arial, "å®‹ä½“";
    word-spacing: 5px;
    /*letter-spacing:2px;*/
}

.schedule_container .box .content ul li a {
    color: #0054AF;
}

.schedule_container .box .content ul li a:visited {
    color: #0054AF;
}

.schedule_container .box .content ul li a:hover {
    color: #E84235;
}

.schedule_container .box .content ul li img {
    height: 30px;
}

.bbs_container .box .content ul li {
    line-height: 26px;
    font-size: 12px;
    /*list-style: disc;*/
    text-indent: 5px;
    background: url(//www.zhibo8.cc/css/images/point.gif) left center no-repeat;
}

.bbs_container .box .content ul li a {
    color: #0054AF;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.bbs_container .box .content ul li a:visited {
    color: #0054AF;
}

.bbs_container .box .content ul li a:hover {
    color: #E84235;
}

/*** index -end ****/

/** c_cat -start ***/

.c_cat {
    position: absolute;
    top: -1px;
    right: 0;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 12px;
    line-height: 30px;
    z-index: 8;
}

.c_cat .c_nav {
    padding: 0;
    margin: 0;
    margin-bottom: 2px;
    border-right: 1px solid #ccc;
}

.c_cat .c_nav a {
    display: table-cell;
    padding-left: 12px;
    padding-right: 13px;
    color: inherit;
    background: #eee;
    border: 1px solid #ccc;
    border-right: none;
    width: 48px;
}

.c_cat .c_nav a span {
    display: inline-block;
    background: url('../image_1/login/tub.png') no-repeat;
    background-position: -7px -8px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/*.c_cat .c_nav a.c_shaixuan{border-right:1px solid #ccc;}*/

.c_cat .c_nav a.current {
    border-top: 1px solid #4184F3;
    color: #4184F3;
    background: #fff;
    border-bottom: 1px solid #fff;
}

.c_cat .c_switch {
    float: right;
}

.c_cat .c_switch .c_font {
    width: 160px;
    height: 50px;
    background: #ff6040;
    -moz-border-radius: 3px;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50px;
    right: 20px;
}

.c_cat .c_switch .c_font:before {
    content: "";
    display: inline-block;
    border-color: #fff #fff #ff6040 #fff;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    width: 0;
    height: 0;
    position: absolute;
    top: -8px;
    left: 20px;
    z-index: -1;
}

.c_cat .c_wrap {
    z-index: 9;
    float: right;
}

.c_cat span {
    font-size: 12px;
    line-height: 30px;
    cursor: pointer;
}

.c_cat .list {
    position: relative;
    width: auto;
    height: auto;
    overflow: hidden;
    background: #E8F3FD;
    border: solid 1px #D4D4D4;
}

.c_cat .list .items {
    position: relative;
    width: 70px;
    height: auto;
    float: left;
    overflow: hidden;
}

.c_cat .list .items span {
    width: 70px;
    height: 30px;
    display: block;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

.c_cat .list .items span:hover {
    background: #33abe8;
    color: #FFFFFF;
}

.c_btm {
    width: 212px;
    height: auto;
    overflow: hidden;
    position: relative;
    background: #E8F3FD;
    border: solid 1px #CCCCCC;
}

.c_btm .c_all {
    float: left;
    width: 70px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
}

.c_btm .c_cls {
    width: 70px;
    height: 30px;
    display: block;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    float: right;
    cursor: pointer;
}

.c_first,
.c_second {
    border-right: solid 1px #3366FF;
}

.i_first {
    font-weight: 900;
}

/**  c_cat -end ***/

.pllist * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}