@charset "UTF-8";
.advertframe {
  width: 960px;
  height: 90px;
  margin: 0 auto 10px;
}

#body #main {
  width: 700px;
  height: auto;
  position: relative;
  overflow: hidden;
  float: left;
  border-top: 2px solid #003795;
}

#body #main .box {
  width: 660px;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 10px 19px;
  border: solid 1px lightGrey;
}

#body #main .box .breadcrumbs {
  line-height: 30px;
  font-size: 12px;
}

#body #main .box .title {
  text-align: center;
}

#body #main .box .title h1 {
  color: black;
  font-family: "ç€¹å¬©ç¶‹", arial;
  font-size: 22px;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-variant: normal;
  line-height: 30px;
  margin-bottom: 6px;
  font-weight: 800;
}

#body #main .box .title span {
  color: #7E7E7E;
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  text-align: center;
}

#body #main .box .Line {
  height: 1px;
  font-size: 0;
  border-top: 1px solid #E5E5E5;
  margin-top: 18px;
}

#body #main .box .content {
  height: auto;
  padding: 10px 0;
  line-height: 25px;
  font-size: 14px;
}

#body #main .box .content p {
  line-height: 25px;
  margin: 20px auto 0 auto;
  font-size: 14px;
}

#body #main .boxs {
  width: 700px;
  height: auto;
  position: relative;
  overflow: hidden;
}

#body #main .boxs .box {
  width: 345px;
  height: auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  float: left;
  border-width: 0;
}

#body #main .boxs .box .content {
  border: solid 1px lightGrey;
  width: 333px;
  height: auto;
  padding: 5px;
}

#body #main .boxs .box .content a {
  line-height: 25px;
  font-size: 12px;
}

#body #main .box .content a:hover {
  color: red !important;
  text-decoration: underline !important;
}

#posts {
  width: 960px;
  height: auto;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

#posts .box {
  width: 345px;
  height: auto;
  padding: 0;
  position: relative;
  overflow: hidden;
  float: left;
  border-width: 0;
}

#posts .box .content {
  border: solid 1px lightGrey;
  width: 333px;
  height: auto;
  padding: 5px;
}

#posts .box .content a {
  line-height: 25px;
  font-size: 12px;
}

#body #siderbar {
  width: 250px;
  height: auto;
  position: relative;
  overflow: hidden;
  float: right;
}

#body #siderbar .advert {
  width: 250px;
  height: 250px;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

#body #siderbar .box {
  width: 250px;
  height: auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
}

#body #siderbar .box .content {
  border: solid 1px lightGrey;
  width: 238px;
  height: auto;
  padding: 5px;
}

#body #siderbar .box .content a {
  line-height: 25px;
  font-size: 12px;
}

.ad_left {
  display: none;
  position: absolute;
  top: 240px;
  width: 120px;
}

.ad_right {
  display: none;
  position: absolute;
  top: 240px;
  width: 120px;
}

.ad_close {
  float: right;
  padding: 2px;
  z-index: 2000;
  font-size: 12px;
  height: 20px;
  cursor: pointer;
  display: block !important;
}

/*#signals img{*/
/*padding: 5px; border: solid 1px #ccc;*/
/*}*/
/********é§è¯²ç¶å¯®è§„î”‹éå³°ç´¡*********/
.body-bg {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2110;
  background: rgba(0, 0, 0, 0.3);
}

.loginView {
  /*display: none;*/
  position: fixed;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  margin-top: -200px;
  padding: 50px 0px 10px 0px;
  width: 550px;
  height: 454px;
  z-index: 2111;
  background-color: #fff;
  /*background: url("../images/login.png") no-repeat center center;*/
  /*border: 2px solid #ccc;*/
  color: #a3a3a3;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.gt_holder.gt_popup .gt_mask {
  z-index: 2113;
}

.loginView a {
  color: #A3A3A3;
}

.model_view .close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background: url("//tu.qiumibao.com/ico/close.png") no-repeat center center;
  cursor: pointer;
  border-left: 2px solid #EEEEEE;
}

.model_view .close-btn:hover {
  background: url("//tu.qiumibao.com/ico/close-hover.png") no-repeat center center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.loginView .mobile-login {
  width: 399px;
  border-right: 1px solid #EEEEEE;
  margin-top: 30px;
}

.loginView .mobile-login .m-li {
  width: 320px;
  margin: 20px 30px 20px 49px;
  overflow: hidden;
}

.loginView .mobile-login h1 {
  text-align: center;
  font-size: 24px;
  font-weight: normal;
  color: #a3a3a3;
}

.loginView .mobile-login .m-tel {
  position: relative;
  padding: 8px 0;
  border: 1px solid #EEEEEE;
}

.loginView .mobile-login .m-tel input {
  margin: 0;
  padding: 0;
  margin-left: 40px;
  height: 34px;
  width: 250px;
  border: none;
  border-left: 1px solid #EEEEEE;
  text-indent: 5px;
  outline: 0;
}

.loginView .mobile-login .m-tel:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  background: url(//tu.qiumibao.com/uploads/day_180601/5b10ca154b575.jpg) no-repeat center center;
}

.loginView .mobile-login .ck-status {
  position: absolute;
  top: 0;
  right: 8px;
  bottom: 0;
  padding-right: 20px;
}

.loginView .mobile-login .ck-success {
  background: url(//tu.qiumibao.com/ico/success.png) no-repeat center center;
}

.loginView .mobile-login .ck-error {
  background: url(//tu.qiumibao.com/ico/error.png) no-repeat center center;
}

.loginView .mobile-login .input-code {
  position: relative;
  padding: 8px 0;
  border: 1px solid #EEEEEE;
}

.loginView .mobile-login .blue-box {
  border: 1px solid #2E9FFF;
}

.loginView .mobile-login .error-box {
  border: 1px solid #FE0000;
}

.loginView .mobile-login .input-code input {
  margin-left: 40px;
  padding: 0;
  width: 150px;
  border: none;
  border-left: 1px solid #EEEEEE;
  text-indent: 5px;
  height: 34px;
  outline: 0;
}

.loginView .mobile-login .input-code:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  background: url(//tu.qiumibao.com/ico/validate-code.png) no-repeat center center;
}

.loginView .mobile-login .get-code {
  width: 120px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #F5F5F5;
  border: 1px solid #EEEEEE;
}

.loginView .mobile-login .get-code a {
  display: block;
}

.loginView .mobile-login .get-code a.hadSend {
  background: #ff9657;
  color: #fff;
}

.loginView .mobile-login .get-code a.count-down {
  background: #bebebe;
  color: #fff;
}

.loginView .mobile-login .validate-code .tip-info {
  color: #fe0000;
  padding-top: 5px;
}

.loginView .mobile-login .m-login-btn {
  height: 48px;
  line-height: 48px;
  background: #2E9FFF;
  text-align: center;
}

.loginView .mobile-login .m-login-btn a {
  display: block;
  color: #fff;
  font-size: 14px;
}

.loginView .mobile-login .reg {
  text-align: center;
}

.loginView .mobile-login .reg a {
  color: #2E9FFF;
}

.loginView .mobile-login .reg a:hover {
  text-decoration: underline;
}

.loginView .onekey-login {
  width: 150px;
  margin-top: -4px;
}

.loginView .onekey-login ul li {
  text-align: center;
  padding: 2px 0;
}

.loginView .onekey-login ul li .li {
  display: inline-block;
  width: 60px;
  height: 60px;
  text-indent: -9999px;
}

.loginView .onekey-login ul li .li-qq {
  background: url(//tu.qiumibao.com/ico/qq.png) no-repeat center center;
}

.loginView .onekey-login ul li .li-wechat {
  background: url(//tu.qiumibao.com/ico/wechat.png) no-repeat center center;
}

.loginView .onekey-login ul li .li-weibo {
  background: url(//tu.qiumibao.com/ico/sina.png) no-repeat center center;
}

.loginView .onekey-login ul .sao-index {
  position: relative;
  margin-bottom: 4px;
}

.loginView .onekey-login ul li .li-sao {
  background: url(//bbsimg.zhibo8.cc/bbsimg/2018-02-24/20180224142818_9886.png) no-repeat center center;
}

.loginView .onekey-login ul a:hover .li-qq {
  background: url(//tu.qiumibao.com/ico/qq-hover.png) no-repeat center center;
}

.loginView .onekey-login ul a:hover .li-wechat {
  background: url(//tu.qiumibao.com/ico/wechat-hover.png) no-repeat center center;
}

.loginView .onekey-login ul a:hover .li-weibo {
  background: url(//tu.qiumibao.com/ico/sina-hover.png) no-repeat center center;
}

.loginView .login-in {
  float: left;
  width: 33.33%;
  margin-top: 110px;
  margin-bottom: 30px;
  box-sizing: border-box;
  text-align: center;
}

.loginView .login-in a {
  display: block;
  margin: 0 30px;
  padding-top: 74px;
}

.loginView .login-qq a {
  background: url("//tu.qiumibao.com/ico/qq.png") no-repeat center top;
}

.loginView .login-wechat a {
  background: url("//tu.qiumibao.com/ico/wechat%20(1).png") no-repeat center top;
}

.loginView .login-weibo a {
  background: url("//tu.qiumibao.com/ico/login_weibo.png") no-repeat center top;
}

/*éŽµî‚¤çˆœé§è¯²ç¶ç»æ¥€å½›*/
.sao-code {
  position: absolute;
  top: 90px;
  left: 30px;
  z-index: 11;
  color: #333;
  -webkit-transform: translateX(-100%, -100%);
  transform: translate(-100%, -100%);
}

/*.loginView .onekey-login .sao-index:hover .sao-code{display:block;}*/
.sao-code .sao-close {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 30px;
  height: 30px;
  background: url("//tu.qiumibao.com/ico/close.png") no-repeat center center;
  cursor: pointer;
  text-indent: -99990px;
  border-left: 2px solid #EEEEEE;
}

.sao-code .sao-close:hover {
  background-image: url(//tu.qiumibao.com/ico/close-hover.png);
}

.sao-code .sao-box {
  padding: 15px;
  border: 2px solid #ddd;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
}

.sao-code .sao-flex {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 260px;
}

.sao-code .code-area {
  width: 140px;
  min-height: 120px;
  margin-top: -20px;
}

.sao-code .code-area .code-tip {
  margin: 0 0 15px 0;
  text-align: left;
}

.sao-code .code-area .code-img {
  position: relative;
  min-height: 120px;
  text-align: center;
}

.sao-code .code-area .refresh-mk:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(//bbsimg.zhibo8.cc/bbsimg/2018-03-01/20180301170809_7766.png) no-repeat center center;
  background-size: 40px;
  -moz-animation: rotateMK 1s linear infinite;
  -webkit-animation: rotateMK 1s linear infinite;
  animation: rotateMK 1s linear infinite;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

@-webkit-keyframes rotateMK {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotateMK {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes name {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

.sao-code .code-img .code-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
}

.sao-code .code-img .code-pass {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}

.sao-code .code-area .c-img {
  max-width: 100%;
  vertical-align: middle;
  border: 1px solid #ccc;
}

.sao-code .pass-refresh a {
  color: #fff;
}

.sao-code .img-tip {
  height: 90%;
  width: 50%;
  background: url(//bbsimg.zhibo8.cc/bbsimg/2018-02-26/20180226175615_1338.png) no-repeat center center;
  background-size: contain;
}

.sao-code:after {
  content: '';
  position: absolute;
  right: -16px;
  bottom: 50px;
  border-color: transparent transparent transparent #ddd;
  border-width: 8px 8px;
  border-style: solid;
}

.sao-code:before {
  content: '';
  position: absolute;
  right: -14px;
  bottom: 50px;
  border-color: transparent transparent transparent #fff;
  border-width: 8px 8px;
  border-style: solid;
  z-index: 1000;
}

.loginView a.forumLogin {
  padding-left: 20px;
  margin-right: 20px;
  width: 80px;
  background: url("//tu.qiumibao.com/ico/login_forum.png") no-repeat left center;
}

.forumView {
  margin-left: -70px;
  margin-top: 30px;
}

/*ç’å“„æ½§é§è¯²ç¶å¦—ï¿½*/
.forum-box {
  position: absolute;
  width: 170px;
  height: 140px;
  line-height: 20px;
  font-size: 12px;
  padding: 10px 40px 10px 40px;
  background: #fff;
  border: 2px solid #ddd;
  z-index: 999;
}

.forum-box:after {
  content: '';
  position: absolute;
  top: -16px;
  right: 70px;
  border-color: transparent transparent #ddd transparent;
  border-width: 8px 8px;
  border-style: solid;
}

.forum-box:before {
  content: '';
  position: absolute;
  top: -14px;
  right: 70px;
  border-color: transparent transparent #fff transparent;
  border-width: 8px 8px;
  border-style: solid;
  z-index: 1000;
}

.li-line {
  min-height: 30px;
}

.fg-h {
  height: 40px;
  line-height: 40px;
}

.overlay input {
  font: 13.3333px Arial;
}

.overlay .txt {
  width: 100%;
  height: 28px;
  padding: 0;
  border: 1px solid #EEEEEE;
  text-indent: 5px;
}

.li-line .login_input {
  background: #2E9FFF;
  width: 40px;
  height: 24px;
  line-height: 24px;
  color: #fff;
  margin-top: 8px;
  text-align: center;
  border: none;
  outline: 0;
  cursor: pointer;
}

.forget-pwd {
  display: inline-block;
  margin-right: -20px;
  margin-left: 5px;
  color: #2E9FFF !important;
}

.forget-pwd:hover {
  color: #0165FD;
  text-decoration: underline;
}

.loging {
  line-height: 40px;
  margin-right: 4px;
}

.forum-close {
  background: url(//tu.qiumibao.com/ico/close.png) no-repeat center center;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  height: 35px;
  width: 35px;
}

/**************æµ ãƒ¤ç¬…æ¶“é¸¿ç˜Žç’å“„å§›é‘³èŠ¥ç‰±å¯®ï¿½*******************/
/*é–«å¤‹å«¨éŽ´å—æ£¿*/
#pinglun_nav {
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid #dedede;
}

#pinglun_nav ul {
  padding: 0;
  margin: 0;
}

#pinglun_nav ul li {
  float: left;
}

#pinglun_nav ul li a {
  color: #555;
  display: inline-block;
  padding: 2px 15px 5px 5px;
  font-size: 12px;
}

#pinglun_nav ul li a.current {
  font-size: 14px;
  border-bottom: 3px solid #64b0e5;
  font-weight: bold;
  font-family: "Microsoft YaHei", "simsun", "ç€¹å¬©ç¶‹";
  padding: 0 15px 5px 5px;
}

.box_room {
  width: 620px;
  height: 80px;
  text-align: center;
  line-height: 80px;
}

.sel_room {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  height: 520px;
  background: #f3f6f6;
}

.sel_room .container {
  width: 220px;
  margin: 0 auto;
  padding-top: 170px;
}

.sel_room .container .zhiyin {
  width: 100%;
  height: 100px;
  text-align: center;
  line-height: 100px;
}

.room1,
.room2 {
  width: 100px;
  height: 32px;
  display: inline-block;
  background: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.room1 {
  margin-right: 10px;
}

.dm_room1,
.dm_room2 {
  width: 110px;
}

.room1 > a,
.room2 > a {
  color: #555;
  display: block;
  font-size: 14px;
}

.room_info {
  margin-top: 10px;
  text-align: center;
  vertical-align: middle;
}

.room_info img {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.room_info span {
  font-family: "Microsoft YaHei", "simsun", "ç€¹å¬©ç¶‹";
  font-size: 12px;
  color: #555555;
  font-weight: bold;
  vertical-align: middle;
}

/*é–«å¤‹å«¨éŽ´å—æ£¿*/
.pllist {
  width: 100%;
  height: auto;
}

.pllist a {
  text-decoration: none;
}

.pllist * {
  line-height: 25px;
  font-size: 14px;
  vertical-align: bottom;
}

.userPro {
  width: 50px;
  vertical-align: top;
}

.userPro img {
  width: 40px;
  height: 40px;
  /*padding: 2px; border:solid 1px #ddd; background:#FFFFFF;*/
  border-radius: 20px;
}

.commentTextList {
  font-size: 14px;
  line-height: 24px;
}

.comment {
  border-bottom: 1px solid #DDD;
  padding: 0 0 11px 0;
}

.yinyong {
  background: #F2F2F2;
  margin: 9px 0 5px 0;
  padding: 5px 9px;
  font-size: 12px;
  border: 1px solid #DDD;
}

.info {
  font-size: 12px;
  color: #BBBBBB;
  width: 100%;
  height: auto;
  line-height: 30px;
  overflow: hidden;
  clear: both;
}

.info .right a {
  font-size: 10px;
  letter-spacing: -2px;
}

.info .right .reply {
  font-size: 14px !important;
  letter-spacing: 0 !important;
}

.word {
  word-break: break-all;
  text-indent: 0em;
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
}

.word img {
  display: inline-block;
  height: 25px;
}

.light {
  background: white;
}

/*

#re{clear:both; }
#re #re_box{padding:24px 14px 22px 5px;background:#f4f4fe;border:1px solid #e4e3f3;}
#re #re_box .left{float:inherit;position:absolute;top:24px;left:13px;}
#re .input{position:relative;z-index:1;}
#re .input textarea{clear:both;width:100%;height:102px;background:#fff ;border:1px solid #ddd;margin:0 -4px 10px 0;font-size:14px;zoom:1;}
#re .face_button{border:0;background:#F4F4FE; font-size:12px; height:22px;width:35px;cursor:pointer;display:block; }
#re .plate_03{position:absolute;top:0;right:0;_right:14px;font-size:14px;zoom:1}

*/
/*input login*/
.input_l_rel {
  position: relative;
  color: #666;
}

.input_l_rel textarea {
  border: 1px solid #e1e1e1;
}

.input_login {
  position: absolute;
  display: none;
  left: 100px;
  top: 50px;
  width: 380px;
  height: 102px;
  background: #BDBDBD;
  font-size: 14px;
  color: #222;
  z-index: 980;
}

/*emojiç›ã„¦å„*/
.pl-emoji {
  position: absolute;
  top: 132px;
  left: 10%;
  width: 312px;
  min-height: 180px;
  border: 1px solid #E5E5E1;
  background: #fff;
  z-index: 3;
}

.pl-emoji:after {
  content: '';
  position: absolute;
  top: -20px;
  left: 29%;
  z-index: 2;
  border-width: 10px 10px;
  border-style: solid;
  border-color: transparent transparent #E5E5E1 transparent;
}

.pl-emoji:before {
  content: '';
  position: absolute;
  top: -18px;
  left: 29%;
  z-index: 3;
  border-width: 10px 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.pl-emoji .pl-e-s {
  position: relative;
  padding: 8px;
  background: #F7F7F7;
  border-top: 1px solid #E5E5E1;
}

.pl-emoji .e-switch {
  color: #333;
  padding: 3px 5px;
  cursor: pointer;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.pl-emoji .e-cur {
  color: #fff;
  background: #8CB0EA;
}

.pl-emoji .pl-e-s .e-close {
  position: absolute;
  right: 5px;
  top: 8px;
  cursor: pointer;
}

.pl-emoji .e-area {
  margin: 8px 8px 0;
  height: 150px;
  border: 1px solid #E5E5E1;
  border-bottom: none;
  overflow: hidden;
}

.pl-emoji .e-area .img {
  float: left;
  width: 42px;
  text-align: center;
  border: 1px solid #f6f6f6;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.pl-emoji .e-area .img-box {
  border: 1px solid #dfdfdf;
  background: #F7F7F7;
}

.pl-emoji .e-area img {
  margin: 8px 0;
  width: 80%;
  vertical-align: middle;
}

.fbbx .xie img {
  width: 20px;
  left: 130px;
  cursor: pointer;
}

#re .face_img {
  background: #E5E5E1;
  border: 1px solid #AAA;
  float: left;
  height: 178px;
  left: 0;
  top: 125px;
  padding: 2px;
  position: absolute;
  width: 410px;
  overflow: hidden;
  display: none;
}

.face_cat_wrap {
  width: 310px;
  height: 22px;
}

.face_cat {
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 12px;
  float: left;
  border: solid 1px #A8A8A8;
  cursor: pointer;
}

.faces {
  width: 310px;
  height: auto;
  min-height: 100px;
}

.faces img {
  width: 20px;
  height: 20px;
  padding: 2px;
  margin: 2px;
  border: solid 1px #7E7E7E;
  display: block;
  float: left;
}

.bigimg {
  width: 100px;
  height: 100px;
  padding: 5px;
  position: absolute;
  top: 10px;
  right: 0;
}

.hot_huifu {
  /*
border: 1px solid #CAD9EA;
padding: 5px 0px;
background: #F3F5F7;
border-top: 2px solid #CAD9EA;
*/
}

.hot_huifuT {
  font-size: 14px;
  color: #555;
  height: 20px;
  line-height: 20px;
  padding-left: 5px;
  /*border-left:6px solid #64AFE9;*/
  /*font-weight:bold;*/
  font-family: "ç€¹å¬©ç¶‹", arial;
}

.hot_huifuT span {
  line-height: 20px;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
  background: url(re.png) no-repeat 0 3px;
  font-weight: normal;
  padding-left: 15px;
}

.hot_feresh {
  /*border-left:6px solid #64AFE9;*/
  height: 20px;
  line-height: 20px;
  margin: 5px 0;
  clear: both;
  padding-left: 5px;
  font-size: 14px;
  /*font-weight:bold;*/
  color: #555;
  font-family: "ç€¹å¬©ç¶‹", arial;
}

.hot_feresh span {
  margin-left: 10px;
  color: #aaa;
  font-size: 12px;
  font-weight: normal;
  font-size: 12px;
  height: 20px;
  line-height: 20px !important;
}

.hot_feresh a {
  font-size: 12px;
  font-weight: normal;
  font-size: 12px;
  height: 20px;
  line-height: 20px !important;
  color: #64AFE9;
  margin-left: 10px;
}

.floor {
  margin: 0;
  padding-top: 5px;
  background: #F3F5F7;
  border: none;
}

.floor .user {
  padding-left: 9px;
  position: relative;
  padding: 6px 0 0 10px;
  float: left;
}

.user img {
  /*padding: 2px; border:solid 1px #ddd; background:#FFFFFF;*/
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.floor_box {
  word-break: break-rall;
  white-space: normal;
  margin-left: 50px;
  padding-left: 6px;
  padding-bottom: 0px;
}

.floor .author {
  padding: 1px 2px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

.floor .case {
  font-size: 14px;
  padding: 8px 0 8px 4px;
  word-break: break-all;
  table-layout: fixed;
  word-warp: break-word;
  border-bottom: 1px dotted #DDD;
  line-height: 22px;
  color: black;
  font-family: "å¯°î†¿è’‹é—†å‘´ç²¦", "ç€¹å¬©ç¶‹";
  height: auto;
}

.floor .case img {
  display: inline-block;
  height: 25px;
}

.user_name {
  color: #4E84AE;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

#header #nav ul li ul {
  width: 80px !important;
  z-index: 100;
  top: 25px !important;
}

.dev_info,
.dev_info a {
  color: #999 !important;
  text-decoration: none;
  font-size: 12px;
}

#iframeB {
  height: 0;
  display: none;
}

.ms-controller,
.ms-important,
[ms-controller],
[ms-important] {
  visibility: hidden;
}

.advert_p_editor_bottom {
  display: inline-block;
  text-align: right;
  color: blue;
  width: 280px;
}

.icon_approve {
  background-position: center 4px;
  background-repeat: no-repeat;
  background-image: url("http://static4style.oss-cn-hangzhou.aliyuncs.com/common/img/v.png");
  background-size: 15px 15px;
  display: inline-block;
  width: 14px;
  height: 25px;
}

.word a {
  color: #4E84AE;
}

a.reply {
  color: #4E84AE;
}
